:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: #ffff;
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.search-container {
  position: relative;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.search-results {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #ffff;
  border: 0px;
  max-height: 300px;
  overflow-y: auto;
  z-index: 1000;
  color: black;
}

.search-result-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #480933;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.search-result-item:hover {
  background: #ffff;
}

.search-result-poster {
  width: 50px;
  height: 75px;
  object-fit: cover;
  margin-right: 10px;
}

.search-result-item h3 {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  color: black;
}

.search-result-item p {
  margin: 0;
  font-size: 14px;
  color: #666;
}
