/* .custom-slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .slider-input {
    width: 100%;
    margin: 10px 0;
  }
  
  .slider-labels {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 14px;
    color: #666;
  }
   */

  .custom-slider {
    flex: 2;
  }
  
  .slider-input {
    width: 100%;
    margin: 10px 0;
  }
  
  .slider-labels {
    display: flex;
    justify-content: space-between;
    width: -110%;
    font-size: 14px;
    color: #666;
  }